*.egg-info
**/__pycache__
logs/

Vim/.DS_Store
Vim/causal-conv1d/causal_conv1d/__pycache__/*
Vim/mamba/mamba_ssm/utils/__pycache__/*
Vim/mamba/mamba_ssm/ops/triton/__pycache__/*
Vim/mamba/mamba_ssm/ops/__pycache__/*
Vim/mamba/mamba_ssm/modules/__pycache__/*
Vim/mamba/mamba_ssm/__pycache__/*
Vim/mamba/mamba_ssm/models/__pycache__/*
Vim/causal-conv1d/build/
Vim/causal-conv1d/causal_conv1d.egg-info/
Vim/causal-conv1d/causal_conv1d_cuda.cpython-3*-x86_64-linux-gnu.so
Vim/mamba/build/
Vim/mamba/mamba_ssm.egg-info/
Vim/mamba/selective_scan_cuda.cpython-3*-x86_64-linux-gnu.so

pth/